<%- include("../templates/header") %>
<link rel="stylesheet" href="/reservedPlot/cancelReso.css" />
</head>

<body>
  <!-- NAVBAR TOP -->
  <%- include("../templates/top-navbar", {pageName: "Reservation"}) %>
  <%- include("../templates/hamburger") %>
  <div class="border">
    <div>Garden Name: </div>
    <div>Plot Name: </div>
    <div>Start Date: </div>
    <div>End Date: </div>
    <div>Registered email: </div>
    <!--! make a form for the button -->
    <form method="post">
      <input type="hidden" name="" value="">
      <a type="button" class="btn btn-success">Cancel Reservation</a>
    </form>
  </div>

  <!-- NAVBAR BOTTOM -->
  <%- include("../templates/bottom-navbar") %>

  <!-- SCRIPTS -->
  <script type="module" src="/modules/navigations.js"></script>
  <script type="module" src="/modules/customizations.js"></script>
  <script type="module" src="/views/universal.js"></script>

  <%- include("../templates/footer") %>