<%- include("../templates/header") %>
<link rel="stylesheet" href="/reservation/plots.css" />
</head>

<body>
  <!-- NAVBAR TOP -->
  <%- include("../templates/top-navbar", {pageName: "Reserve a plot"}) %>
  <%- include("../templates/hamburger") %>

  <% for (let i = 0; i < creatingPlots.length; i++) { %>

  <!-- I found this code on getbootstrap.com in border section -->
  <!-- @author https://getbootstrap.com/docs/5.3/components/card/#about -->
  <div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><b><%= creatingPlots[i].plotName %></b></h5>
        <div class="card-text">
          <p>Dimensions:<span> <%= creatingPlots[i].dimensions %></span></p>

          <p>Availability: <%= creatingPlots[i].availability %></p>
        </div>
        <!-- Renders clickable button if and only if plot is 'available' -->
        <% if (creatingPlots[i].availability === 'Unavailable') { %>
        <div id="button">
          <a class="btn btn-secondary" id="<%= creatingPlots[i].plotName %> Button" style="pointer-events: none; cursor: default;">Reserve</a>
        </div>
        <% } else { %>
        <div id="button">
          <a class="btn btn-success" href="/reservationForm/<%= encodeURIComponent(garden) %>/<%= encodeURIComponent(creatingPlots[i].plotName) %>">Reserve</a>
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <% } %>

  <!-- NAVBAR BOTTOM -->
  <%- include("../templates/bottom-navbar") %>

  <!-- SCRIPTS -->
  <script type="module" src="/modules/navigations.js"></script>
  <script type="module" src="/modules/customizations.js"></script>
  <script type="module" src="/views/universal.js"></script>

  <%- include("../templates/footer") %>