<%- include("../templates/header") %>
<link rel="stylesheet" href="/reservation/plots.css" />
</head>

<body>
  <!-- NAVBAR TOP -->
  <%- include("../templates/top-navbar", {pageName: "Reserve a plot"}) %>
  <%- include("../templates/hamburger") %>

  <% for (let i = 0; i < creatingPlots.length; i++) { %>

  <!-- I found this code on getbootstrap.com in border section -->
  <!-- @author https://getbootstrap.com/docs/5.3/components/card/#about -->
  <div class="centerCard">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><b><%= creatingPlots[i].plotName %></b></h5>
        <p class="card-text">Dimensions: <%= creatingPlots[i].dimensions %><br>Availability: <%= creatingPlots[i].availability %></p>
        <a class="btn btn-primary" href="/reservationForm/<%= encodeURIComponent(garden) %>/<%= encodeURIComponent(creatingPlots[i].plotName) %>">Reserve</a>
      </div>
    </div>
  </div>
  <% } %>

  <!-- NAVBAR BOTTOM -->
  <%- include("../templates/bottom-navbar") %>

  <!-- SCRIPTS -->
  <script type="module" src="/modules/navigations.js"></script>
  <script type="module" src="/modules/customizations.js"></script>
  <script type="module" src="/views/universal.js"></script>

  <%- include("../templates/footer") %>
