<%- include("../templates/header") %>
<link rel="stylesheet" href="/reservation/reserveForm.css" />
</head>

<body>
  <!-- NAVBAR TOP -->
  <%- include("../templates/top-navbar") %>
  <%- include("../templates/hamburger") %>


  <div class="reservation-title">
    <h2 class="reservation-garden"><%= nameOfGarden %></h2>
    <h4 class="reservation-gardenPlot"><%= plotName %></h4>
  </div>

  <form class="reservationForm" action="/submitReservation" method="post">
    <!-- Reservation Dates -->
    <div class="mb-3">
      <h3>Reservation Duration</h3>
      <label for="reservationStartDate" class="form-label">Start</label>
      <input type="date" class="form-control" id="reservationStartDate" onchange="validDates()">
      <label for="reservationEndDate" class="form-label">End</label>
      <input type="date" class="form-control" id="reservationEndDate" onchange="validDates()">
      <div class="reservationDuration">
        Total:<span>this is where the length will be</span>
      </div>
    </div>

    <!-- Contact Information (will autopopulate user's info) -->
    <!-- TODO: decide if they can edit it or not -->
    <div class="mb-3">
      <h3>Confirm your Contact Info</h3>
      <label for="contactName" class="form-label">Name</label>
      <input type="text" class="form-control" id="contactName" onload="populateForm(JSON.stringify('<%= user %>'))">
      <label for="contactEmail" class="form-label">Email</label>
      <input type="text" class="form-control" id="contactEmail" onload="populateForm(JSON.stringify('<%= email %>'))">
      <label for="contactPhone" class="form-label">Phone Number</label>
      <input type="text" class="form-control" id="contactPhone">
    </div>
    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">Reserve a Plot</button>
  </form>


  <!-- Displaying confirmation modal -->
  <!-- I found this code on Bootstrap -->
  <!-- see https://getbootstrap.com/docs/5.3/examples/modals/ -->
  


  <!-- NAVBAR BOTTOM -->
  <%- include("../templates/bottom-navbar") %>

  <!-- SCRIPTS -->
  <script src="/views/reservation/reserveForm.js"></script>
  <script type="module" src="/modules/navigations.js"></script>
  <script type="module" src="/modules/customizations.js"></script>
  <script type="module" src="/views/universal.js"></script>

  <%- include("../templates/footer") %>