<%- include("../templates/header") %>
<link rel="stylesheet" href="/reservation/reserveForm.css" />
</head>

<body>
  <!-- NAVBAR TOP -->
  <%- include("../templates/top-navbar") %>
  <%- include("../templates/hamburger") %>


  <div class="reservation-title">
    <h2 class="reservation-garden"><%= nameOfGarden %></h2>
    <h4 class="reservation-gardenPlot"><%= plotName %></h4>
  </div>

  <form class="reservationForm" action="/reservationForm/submitReservation" method="post" id="reservationFormId">
    <!-- Reservation Dates -->
    <div class="mb-3">
      <h3>Reservation Duration</h3>
      <label for="reservationStartDate" class="form-label">Start</label>
      <input type="date" class="form-control" id="reservationStartDate" name="reservationStartDate">
      <label for="reservationEndDate" class="form-label">End</label>
      <input type="date" class="form-control" id="reservationEndDate" name="reservationEndDate">
      <div class="reservationDuration">
        Total:<span>this is where the length will be</span>
      </div>
    </div>


    <!-- Contact Information (will autopopulate user's info) -->
    <!-- TODO: decide if they can edit it or not -->
    <div class="mb-3">
      <h3>Confirm your Contact Info</h3>
      <label for="contactName" class="form-label">Name</label>
      <input type="text" class="form-control" id="contactName" name="reservationName" value="<%= user.username %>" placeholder="<%= user.username %>">
      <label for="contactEmail" class="form-label">Email</label>
      <input type="text" class="form-control" id="contactEmail" name="reservationEmail" value="<%= user.email %>" placeholder="<%= user.email %>">
    </div>
    <!-- Changed type from 'submit' to 'button'. Modal requires button -->
    <input type="hidden" name="plotName" value="<%= plotName %>">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmModal">Reserve a Plot</button>
  </form>


  <!-- Displaying confirmation modal -->
  <!-- I found this code on Bootstrap -->
  <!-- see https://getbootstrap.com/docs/5.3/examples/modals/ -->
  <div class="modal fade" tabindex="-1" role="dialog" id="confirmModal" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-3 shadow">
        <div class="modal-body p-4 text-center">
          <h5 class="mb-0 changeFontColour">Reserve this plot?</h5>
        </div>
        <div class="modal-footer flex-nowrap p-0">          
          <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end no-padding" id="positive">Yes, please</button>
          <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 no-padding" data-bs-dismiss="modal">No, thanks</button>
        </div>
      </div>
    </div>
  </div>

  <!-- NAVBAR BOTTOM -->
  <%- include("../templates/bottom-navbar") %>

  <script>
    var user = <%= JSON.stringify(user.username) %>;
    var email = <%= JSON.stringify(user.email) %>;
  </script>
  <script src="/views/reservation/reserveForm.js"></script>
  <script type="module" src="/modules/navigations.js"></script>
  <script type="module" src="/modules/customizations.js"></script>
  <script type="module" src="/views/universal.js"></script>

  <%- include("../templates/footer") %>