<%- include("../templates/header") %>
<link rel="stylesheet" href="/newPost/newPost.css" />
</head>

<body>
  <%- include("../templates/top-navbar") %>
  <%- include("../templates/hamburger") %>
  <br>
  <div>
    <form id="form1" action="posts" method="post" enctype="multipart/form-data">
      <div class="main-content">
        <div class="heading">Photo</div>
        <input type="file" id="photo" name="photo">
        <div class="heading">Garden</div>
        <input type="text" name="garden" placeholder="Select Garden">
        <div class="heading">Description</div>
      </div>
      <textarea type="text" id="description" name="description" placeholder="..."></textarea>
      <div class="submit">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>

    <!-- . -->

    <!-- <a>Cancel</a> -->
  </div>
</body>

<!-- NAVBAR BOTTOM -->
<%- include("../templates/bottom-navbar") %>

<!-- SCRIPTS -->
<script type="module" src="/modules/navigations.js"></script>
<script type="module" src="/views/universal.js"></script>

<%- include("../templates/footer") %>