<%- include("../templates/header") %>
<link rel="stylesheet" href="garden.css">
</head>

<body>
  <!-- NAVBAR TOP -->
  <%- include("../templates/top-navbar") %>
  <%- include("../templates/hamburger") %>

  <!-- TODO change to ejs -->
  <img id="garden-header" src="/img/plant.jpg">
  <div class="garden-bio">
    <h1 class="garden-name"><b><%= garden.gardenName %></b></h1>

    <!-- DESCRIPTION -->
    <div class="garden-info">
      <span class="material-icons-round icon" style="color: rgb(156, 156, 156)">
        notes
      </span>
      <span>Crops: <%= garden.crops %> <br> Plots Available: <%= garden.plotsAvailable %></span>
    </div>

    <!-- ADDRESS -->
    <div class="garden-info">
      <span class="material-icons-round icon" style="color: rgb(255, 89, 89)">
        place
      </span>
      <span><%= garden.address %></span>
    </div>

    <!-- CITY (jayden you'll probably wanna change this icon teehee) -->
    <div class="garden-info">
      <span class="material-icons-round icon" style="color: rgb(240, 205, 205)">
        place
      </span>
      <span><%= garden.city %></span>
    </div>

    <!-- PHONE NUMBER -->
    <div class="garden-info">
      <span class="material-icons-round icon" style="color: rgb(197, 255, 250)">
        phone
      </span>
      <!-- TODO change to ejs -->
      <span>(604)-274-8467: need to add this field to garden collection</span>
    </div>

    <!-- RESERVE PLOT BUTTON -->
    <div class="reserve">
      <a class="reserve-button btn btn-success">Reserve a Plot</a>
    </div>
  </div>

  <!-- NAVBAR BOTTOM -->
  <%- include("../templates/bottom-navbar") %>
  <!-- SCRIPTS -->
  <script type="module" src="/modules/navigations.js"></script>
  <script type="module" src="/views/universal.js"></script>
  <%- include("../templates/footer") %>