<%- include("../templates/header") %>
<link rel="stylesheet" href="garden.css">
</head>

<body onload="initMap(), getComps(`<%- garden.Lat %>`, `<%- garden.Long %>`)">
  <!-- NAVBAR TOP -->
  <%- include("../templates/top-navbar") %>
  <%- include("../templates/hamburger") %>

  <img id="garden-header" src="data:image/jpeg;base64,<%= image %>">

  <div class="garden-bio">
    <!-- GARDEN NAME -->
    <h1 class="garden-name"><b><%= garden.gardenName %></b></h1>

    <!-- GARDEN INFO -->
    <div class="garden-info">
      <span class="material-icons-round icon" style="color: rgb(156, 156, 156)">
        notes
      </span>
      <!-- DESCRIPTION -->
      <span>Crops: <%= garden.crops %></span>
    </div>

    <div class="garden-info">
      <span class="material-icons-round icon" style="color: rgb(255, 89, 89)">
        place
      </span>
      <!-- ADDRESS -->
      <span><%= garden.address %>,</span><span><%= garden.city %></span>
    </div>

    <div class="garden-info">
      <span class="material-icons-round icon" style="color: rgb(197, 255, 250)">
        phone
      </span>
      <!-- TODO change to ejs -->
      <!-- PHONE NUMBER -->
      <span>(604)-274-8467</span>
    </div>

    <!-- RESERVE PLOT BUTTON -->
    <div class="reserve">
      <a class="reserve-button btn btn-success" href="/gardenPlots/<%= garden.gardenName %>">Reserve a Plot</a>
      <span>Available: <%= garden.plotsAvailable %></span>
    </div>
  </div>

  <div id="map">


  </div>
  <button onclick="history.back()">Go Back</button>



  <!-- NAVBAR BOTTOM -->
  <%- include("../templates/bottom-navbar") %>
  <!-- SCRIPTS -->
  <script type="module" src="/modules/navigations.js"></script>
  <script type="module" src="/views/universal.js"></script>
  <script>
    (g => {
      var h, a, k, p = "The Google Maps JavaScript API",
        c = "google",
        l = "importLibrary",
        q = "__ib__",
        m = document,
        b = window;
      b = b[c] || (b[c] = {});
      var d = b.maps || (b.maps = {}),
        r = new Set,
        e = new URLSearchParams,
        u = () => h || (h = new Promise(async (f, n) => {
          await (a = m.createElement("script"));
          e.set("libraries", [...r] + "");
          for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
          e.set("callback", c + ".maps." + q);
          a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
          d[q] = f;
          a.onerror = () => h = n(Error(p + " could not load."));
          a.nonce = m.querySelector("script[nonce]")?.nonce || "";
          m.head.append(a)
        }));
      d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
    })({
      key: "AIzaSyDC_v-aGB3xGllj5-zsXhmZZImKeLBEeek",
      v: "weekly",
    });
  </script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="garden.js"></script>
  <%- include("../templates/footer") %>