<%- include("../templates/header") %>
<link rel="stylesheet" href="/plantepedia/plantepedia.css" />
</head>

<body>
  <!-- NAVBAR TOP -->
  <%- include("../templates/top-navbar", {pageName: "Plantepedia"}) %>
  <h1>Plantipedia (FAQ)</h1>

  <% let i; %>
  <ol>
    <!-- 'facts' variable will come from index.js (it will be the array of facts from mongoDB) -->
    <% for (i=0; i < facts.length; i++) {%>
    <!-- note to self: may have to fix path -->
    <%- include('/facts.ejs', {fact: facts[i]}) %>
    <% } %>
  </ol>

  <!-- NAVBAR BOTTOM -->
  <%- include("../templates/bottom-navbar") %>
</body>

<%- include("../templates/footer") %>