<%- include("../templates/header") %>
<link rel="stylesheet" href="/community/community.css" />
</head>

<body>
  <!-- NAVBAR TOP -->
  <%- include("../templates/top-navbar") %>
  <%- include("../templates/hamburger") %>

  <h2 class="choose-garden">Choose a garden</h2>

  <div id="gardens">

    <% for(let i=0; i < gardens.length; i++) { %>
    <div style="background-image: url('/img/garden.jpeg')" class="gardenGroup">
      
      <a href="/community/<%= gardens[i].gardenRef %>">
        <div class="garden-inner"><%= gardens[i].gardenName %></div>
      </a>

    </div>
    <% } %>
  </div>

  <h2>Posts from <%= gardenP %></h2>
  <div id="posts">
    <!-- BOOTSTRAP USED FOR POSTS -->
    <% for(let i = result.length - 1; i >= 0; i--) { %>
    <div class="container">
      <div class="username-container">
        <span><b class="username"><%= username[i] %></b></span>
      </div>
      <img class="post-img" src="data:image/jpeg;base64,<%= posts[i] %>" height="300" width="300" alt="my Image">
      <div class="post-actions">




          <% if (userLikes[i].includes(currentUser)) { %>
            <form action="/community/unfavPost" method="post" style="display: inline;">
              <input type="hidden" name="postID" value="<%= postID[i] %>">
              <input type="hidden" name="garden" value="<%= postLikeRef %>">
              <button type="submit" value="" name="likes" class="material-icons-round favorite-button">favorite
              </button>
            </form>
        
            <% } else { %>
              <form action="/community/favPost" method="post">
                <input type="hidden" name="postID" value="<%= postID[i] %>">
                <input type="hidden" name="garden" value="<%= postLikeRef %>">
                <button class="material-icons-round">
                  favorite_border
                </button></form>
            <% } %>






          <button class="material-icons-round" data-bs-toggle="modal" data-bs-target="#<%= postID[i] %>">
            chat_bubble_outline
          </button>
            <!-- posting a comment modal -->
  <div class="modal fade" id="<%= postID[i] %>" tabindex="-1" aria-labelledby="<%= postID[i] %>" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="<%= postID[i] %>">Post a Comment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/community/submitComment" method="post" id="sub" role="form">
        <div class="modal-body" id="postC">
          <input type="text" name="comment">
          <input type="hidden" name="postID" value="<%= postID[i] %>">
          <input type="hidden" name="garden" value="<%= postLikeRef %>">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" onclick="alert()">Post comment</button>
        </div>
      </form>
      </div>
    </div>
  </div>
        
      </div>
      <div class="description">
        <aside class="likes"><small></small><small>&nbsp;<%= userLikes[i].length %> Likes</small></aside>
        <span><b class="username"><%= username[i] %>&nbsp;</b></span>
        <span id="description"><%= desc[i] %></span>
        
        <aside class="comments" id="com">
          
         

          <button data-bs-toggle="modal" data-bs-target="#comments<%- [i] %>"><small>view all comments</small></button>

        </aside>
        <aside class="date"><small><%= date[i] %></small></aside>
      </div>
    </div>
      <!-- viewing all comments modal -->
   <div class="modal fade" id="comments<%- [i] %>" tabindex="-1" aria-labelledby="commentsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% for (let x = commentsUser[i].length - 1; x >= 0; x--) { %>
          <h5 class="modal-title" id="commentsModalLabel"><%= commentsUser[i][x] %>:</h5>
          <br>
          <div><%= comments[i][x] %></div>
          <br>
          <% } %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

    <% } %>
  </div>
 


 






  <!-- NAVBAR BOTTOM -->
  <%- include("../templates/bottom-navbar") %>

  <!-- SCRIPTS -->
  <script type="module" src="/modules/navigations.js"></script>
  <script type="module" src="/views/universal.js"></script>
  <script src="community.js"></script>
  <%- include("../templates/footer") %>