<%- include("../templates/header") %>
<link rel="stylesheet" href="/home/home.css">
</head>

<body>
  <!-- NAVBAR TOP -->
  <%- include("../templates/top-navbar", {pageName: "Home"}) %>
  <%- include("../templates/hamburger") %>

  <div class="welcome">
    <h1 class="ubuntu welcome-message">Welcome <%- username %></h1>

    <div class="section-header">Favourites</div>
    <div id="gardens section">

      <% for(let i=0; i < favGardens.length; i++) { %>
      <div style="background-image: url('/img/garden.jpeg')" class="gardenGroup">
        
        <a href="/community/<%=gardenRef[i] %>">
          <div class="garden-inner"><%= favGardens[i] %></div>
        </a>

      </div>
      <% } %>
    </div>

    <div class="section-header">View another page</div>
    <div class="home-links section">
      <a class="home-link btn btn-success" href="/profile">Profile</a>
      <a class="home-link btn btn-success" href="/plantepediaSummary">Plantepedia</a>
      <a class="home-link btn btn-success" href="/explore">Find a Garden</a>
    </div>
  </div>

  <!-- NAVBAR BOTTOM -->
  <%- include("../templates/bottom-navbar") %>
  <!-- SCRIPTS -->
  <script type="module" src="/modules/navigations.js"></script>
  <script type="module" src="/views/universal.js"></script>
  <%- include("../templates/footer") %>